@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2&family=Nunito:wght@300&display=swap");
body,
html {
  overflow-x: hidden;
}
.headerWrapper {
  background-color: rgba(21, 20, 20, 0.485);
  padding: 10px 10px;
  width: 100%;
  position: absolute;
  top: 0px;
}
.linkTag {
  text-decoration: none;
  color: #fff;
  padding: 0px 20px;
}
.headingTag {
  font-family: "Baloo 2", cursive !important;
  font-weight: 700 !important;
  font-size: 70px !important;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  position: absolute;
  top: 30%;
  left: 20%;
  width: 35%;
}
.coffeeCupImg {
  padding-left: 45px;
}
.HomeWrap {
  background-image: url("https://thumbs.dreamstime.com/z/coffee-cup-top-view-white-wood-table-background-espresso-48297757.jpg");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.imageCoffee {
  border-radius: 5px;
  margin: 10px 0px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.middle {
  background-color: rgba(21, 20, 20, 0.485);
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.text {
  /* background-color: #04aa6d; */
  color: #fff;
  font-size: 16px;
  padding: 16px 32px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  cursor: pointer;
}
.imageCoffee :hover {
}
.container {
  padding: 0px 10px;
}
.imgWrap {
  position: relative;
  text-align: center;
}
.imgWrap:hover .imageCoffee {
  opacity: 0.3;
  transform: scale(1.1);
  transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}

.imgWrap:hover .middle {
  opacity: 1;
}
.radioText {
  font-family: "Nunito", sans-serif;
}
